FORMAT: 1A
HOST: http://app.api.gizwits.com

# Gizwits Open API

## Error codes

| status |     code     | message |
|--------|:------------:|--------:|
| 200    | 9000         | OK      |

# Group API for apps

## Users [/users]
### Create User [POST]

**Notice:** this API should go via https.

Both anonymous user register & login should call this API.

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            
    + Body
            
            {
                "phone_id": "adkaldk"
            }

+ Response 201 (application/json)

    + Body
    
            { 
                "uid": "akkdlfeiow", 
                "token": "akdlfkad",
                "expire_at": 13894002020
            }
            
+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
    
    + Body
    
            {
                "username": "bob",
                "password": "123456"
            }
            
+ Response 201 (application/json)

    + Body
    
            { 
                "uid": "akkdlfeiow", 
                "token": "akdlfkad",
                "expire_at": 13894002020
            }
            
+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
    
    + Body
 
            {   
                "authData": {
                    "baidu": {
                        "uid":2346677,
                        "uname":"liupc24",
                        "portrait":"e2c1776c31393837313031319605",
                        "access_token":"pnktnjyb996sj4p156gjtp4im"
                    }
                }
            }
            
+ Response 201 (application/json)

    + Body
    
            { 
                "uid": "akkdlfeiow", 
                "token": "akdlfkad",
                "expire_at": 13894002020
            }

## User Detail [/users/{uid}]

### Update User Info [PUT]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
    
    + Body
    
            {
                "old_pwd": "123456",
                "new_pwd": "123456"
            }
            
+ Response 201 (application/json)

    + Body
    
            { 
                "updatedAt": "2011-11-07T21:25:10.623Z"
            }

## Login [/login]

### Login [POST]

**Notice:** this API should go via https.

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
    
    + Body
    
            {
                "username": "bob",
                "password": "123456"
            }
            
+ Response 200 (application/json)

    + Body
    
            { 
                "uid": "akkdlfeiow", 
                "token": "akdlfkad",
                "expire_at": 13894002020
            }

## Device history data [/devdata/{did}{?start_ts}{&end_ts}{&limit}{&skip}]

History data is ordered by ts descending.

+ Parameters
    + did (required, string, `abcada`)
    + start_ts (required, number, `1349032093`)
    + end_ts (required, number, `1349032093`)
    + limit (optional, number, `20`)
    + skip (optional, number, `0`)

### Retrieve device history data [GET]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            X-Gizwits-User-token: {token}

+ Response 200 (application/json)

    + Body

            {
                "data": [{
                    "ts": 148293984328,
                    "payload": "123456"
                },{
                    "ts": 148293984328,
                    "payload": "123456"
                }]
            }


## Bindings [/bindings?{limit}&{skip}]

### Get Bound Devices [GET]

* Parameters
    + limit (optional, number, `20`)
    + skip (optional, number, `0`)

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            X-Gizwits-User-token: {token}
            
+ Response 201 (application/json)

    + Body
    
            {
                "devices": [{
                    "did": "abcada",
                    "mac": "1122334455667788",
                    "passcode": "123456",
                    "host": "m2m.gizwits.com",
                    "port": "3128"
                },{
                    "did": "abcada",
                    "mac": "1122334455667788",
                    "passcode": "123456",
                    "host": "m2m.gizwits.com",
                    "port": "3128"
                }]
            }

### Bind Devices [POST]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            X-Gizwits-User-token: {token}
            
    + Body
    
            {
                "devices": [{
                    "did": "abcada",
                    "passcode": "123456"
                },{
                    "did": "abcada",
                    "passcode": "123456"
                }]
            }
    
+ Response 200 (application/json)

### Unbind Devices [DELETE]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            X-Gizwits-User-token: {token}
            
    + Body
    
            {
                "devices": [{
                    "did": "abcada",
                    "passcode": "123456"
                },{
                    "did": "abcada",
                    "passcode": "123456"
                }]
            }
    
+ Response 200 (application/json)


## Device Detail [/devices/{did}{?product_key}]
    
### Get Device Info [GET]

+ Parameters
    + product_key (required, string, `adkfaldl`)
    + did (required, string, `abcada`)

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            X-Gizwits-User-token: {token}
            
+ Response 200 (application/json)

    + Body
    
            {
                "did": "abcada",
                "mac": "1122334455667788",
                "passcode": "123456",
                "host": "m2m.gizwits.com",
                "port": "3128"
            }


# Group API for devices

## Devices [/devices]

### Device Provision [POST]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}

    + Body
        
            {
                "product_key": "abcadfe",
                "passcode": "adjfakdk",
                "mac": "112233445566"
            }
            
+ Response 201 (application/json)

    + Body
    
            {
                "did": "abaadd",
                "host": "m2m.gizwits.com",
                "port": "3128"
            }
            
## OTA [/ota/{did}]

+ Parameters
    + did (required, string, `abcada`)

### Check OTA [GET]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            
+ Response 200 (application/json)

    + Body
    
            {}
            
+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}
            
+ Response 200 (application/json)

    + Body
    
            {
                "version": 2,
                "url": "http://xxx"
            }

# Group API for M2M

## Verify User [/verify/user]

### Verify User [POST]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}

    + Body
    
            {
                "uid": "akkdlfeiow", 
                "token": "akdlfkad"
            }
            
+ Response 401 (application/json)

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}

    + Body
    
            {
                "uid": "akkdlfeiow", 
                "token": "akdlfkad"
            }
            
+ Response 200 (application/json)

## Verify Device [/verify/device]

### Verify Device [POST]

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}

    + Body
    
            {
                "did": "akkdlfeiow", 
                "passcode": "akdlfkad"
            }
            
+ Response 401 (application/json)

+ Request (application/json)

    + Header
    
            X-Gizwits-Application-Id: {appid}

    + Body
    
            {
                "did": "akkdlfeiow", 
                "passcode": "akdlfkad"
            }
            
+ Response 200 (application/json)
